 <div class="container flex-container">
<% @advertisements.each do |advertisement| %>
  <div class="row">
    <div class="bid-card">
      <div class="bid-title">
        <h3><%= advertisement.agency.name %></h3>
        <div class="bid-body">
        <p class="text text-warning"><%= advertisement.slot_start_time.to_s + "-" + advertisement.slot_end_time.to_s  %></p>
        <span>
          <small style="text-align: center; font-style: italic;"> Time left </small>
                  
           <small style="text-align: center; font-style: italic;"> Highest Bid: $ <%= advertisement.bids.order(:bid_amount).first.bid_amount if advertisement.bids.first %> </small>
          <div end-time = '<%= advertisement.bid_end_time %>' class="counter main-page-counter"> 
          </div>
          <% if session[:username].nil? %>
          <button class="btn btn-danger" disabled=""> Login To Bid</button>
          <% elsif session[:user_type] == 1   %>
          <%= link_to raw("<button class='btn btn-danger'> Bid Now</button>") ,:controller => "bids", :action => "new", :advertisement_id => advertisement.id %>
          
          <% end %>

        	        	<button class="btn btn-warning"> View Adspace</button>
        </span>
		</div>
      </div>
    </div>
  </div>

<%end%>

</div>
