<div class="container">
	<div class="row">
		<div class="col-md-3 advertisement-info">
			<div class="well">
				<h2>Slot Information</h2>
				<p>Start Time: <%=@advertisement.slot_start_time %></p>
				<p>End Time: <%= @advertisement.slot_end_time %></p>
				<p>Duration: <%= @advertisement.slot_duration %></p>
				<p>Agency Name: <%= @advertisement.agency.name %></p>
				<p>Status: <%= @advertisement.status %></p>
				<% if @advertisement.status == 'stopped' && !AdvertisementSlot.find_by_advertisement_id(@advertisement.id) %>
				 <%=link_to(raw('<button class="btn btn-primary">Sell</button>'), :controller => 'advertisements', :action => "sell", :id => @advertisement.id) %>
				<% end %>
			</div>
		</div>
		<div class="col-md-9">
			<% if @advertisement.status.nil? %>
				<h2>Please Start The Bid process</h2>

			<% else %>
			<h2 class="text-center">Bidding Pannel</h2>
			<div class="current_bid_info">
				<p class="alert alert-success">Bid Status: <%= @advertisement.status %>  </p>
				<p class="alert alert-success">Bid Start Rate: <%= @advertisement.base_price %> </p>
				<p class="alert alert-success">Highest Bidding Agent: <%= Bid.highest @advertisement.id if Bid.where('advertisement_id = ?', @advertisement.id).last %> </p>
				<p class="alert alert-success">Bidding Start Time: <%= @advertisement.bid_start_time %> </p>
				<p class="alert alert-success">Bidding Start Time: <%= @advertisement.bid_end_time %> </p>
			</div>
			<div class="bid_table">
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Agent Name</th>
						<th>Bid Amount</th>
						<th>Agent Contact</th>
						<th>Agent Email</th>
					</tr>
					<% @bids.each do |bid| %>
					<tr>
						<td><%= bid.id %></td>
						<td><%= bid.agent.name %></td>
						<td><%= bid.bid_amount %></td>
						<td><%= bid.agent.contact_number %></td>
						<td><%= bid.agent.email %></td>
					</tr>	
					<% end %>
				</table>				
			</div>
		</div>
	<%end%>
	</div>	
</div>