<nav class="navbar navbar-expand-lg navbar-light mynav">
  <a class="navbar-brand" href="#">Addistha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if session[:user_type] == 0 %>
      <li class="nav-item">
        <a class="nav-link" href="/slot_items/index">Shop</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/slot_items/list">My Slots</a>
      </li>
    <% elsif session[:user_type] == 1 %>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Bid Point</a>
      </li>

    <% elsif session[:user_type] == 2%>
        <li class="nav-item">


             <%= link_to "Create New Slot", new_advertisement_path(),:class=>"nav-link" %>

      </li>
        <li class="nav-item">
        <%= link_to "Advertisement Slots", advertisements_path(),:class=>"nav-link" %>
        </li>
       
    <% end %>
  </ul>
    <div class="login_signup">
  </div>
    <% if session[:username] %>
    <%= link_to(raw("<i style='color:black;' class='fa fa-user'></i>"),:controller=>"index", :action=>"profile")%>
    <%= link_to(raw("<i style='color:black; padding:10px;' class='fa  fa-sign-out'></i>"),:controller=>"index", :action=>"logout")%>
 
   <% else %>
    <%= link_to "Login", :controller => "index", :action=>"login" %>
    <% end%>
    </div>
</nav>



